@charset "UTF-8";

*{
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}

#board-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boardBtn {
    padding: 10px 20px;
    margin: 10px;
    background-color: #343a40; /* 검은색 */
    color: #fff; /* 흰색 */
    text-decoration: none; /* 링크 텍스트 밑줄 제거 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boardBtn:hover {
    background-color: #212529;
}